<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="json-snapshot.ZPM">
    <Module>
      <Name>json-snapshot</Name>
      <Version>1.0.6</Version>
      <Description>Use %JSON.Adaptor for object snapshot</Description>
      <Keywords>JSON, OBJ, COS</Keywords>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
       <Resource Name="json.PKG"/>
    </Module>
  </Document>
</Export>
